<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ChatBot.Properties.Settings>
            <setting name="fondo" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="usuario" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="robot" serializeAs="String">
                <value>Aquamarine</value>
            </setting>
            <setting name="sexo" serializeAs="String">
                <value>Hombre</value>
            </setting>
        </ChatBot.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChatBot.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>6e57ea50-298a-4764-aa26-28d7667bbf65</value>
            </setting>
            <setting name="endpoint" serializeAs="String">
                <value>https://tema6qna.azurewebsites.net</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>fdd50c29-2f97-44eb-9744-745e2caaf418</value>
            </setting>
        </ChatBot.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>